@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: auto;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

img{
margin:0 auto;
overflow:hidden;
border:solid 1px;
 margin-bottom: 20px;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: #333;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.to-top.hidden {
  opacity: 0;
  pointer-events: none;
}

.humbergerbutton{
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 15px;
  right: auto;
  z-index: 1001;
}

.overlay{
   position: fixed;
   inset: 0;
   background: rgba(0, 0, 0, 0.4);
   z-index: 1000;
}

.menu{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background: #b9f5f7;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 1002;
}
.menu.open{
  transform: translateX(0);
}

.menulist{
  list-style: none;
  padding:0;
  text-align: center;
  line-height: 3.5em;
}

.slider-wrapper {
  position: relative;
  width: auto;
  margin: 0 auto;
}

.slider-image {
  width: auto;
  /*border-radius: 10px;*/
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.slider-button.left {
  left: 10px;
}

.slider-button.right {
  right: 10px;
}

